<ion-content [fullscreen]="true">
  <!-- Botón de atrás en la esquina superior izquierda -->
  <div class="back-button-container">
    <ion-button fill="clear" color="dark" (click)="goBack()" class="back-button">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="create-room-container">
    <div class="form-container">
      <h1 class="title">CREAR NUEVA SALA</h1>
      
      <form (ngSubmit)="onSubmit()" #roomForm="ngForm">
        <ion-item class="form-item">
          <ion-label position="stacked">Nombre de la Sala</ion-label>
          <ion-input 
            [(ngModel)]="room.name" 
            name="roomName" 
            placeholder="Nombre de la sala" 
            required>
          </ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Número de Equipos</ion-label>
          <ion-select 
            [(ngModel)]="room.max_players" 
            name="maxPlayers" 
            placeholder="Selecciona número de jugadores">
            <!-- opciones de 2 a 50 -->
          </ion-select>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Máximo de jugadores</ion-label>
          <ion-select [(ngModel)]="room.num_teams" name="numTeams" placeholder="Selecciona" required>
            <ion-select-option [value]="8">8 jugadores</ion-select-option>
            <ion-select-option [value]="16">16 jugadores</ion-select-option>
            <ion-select-option [value]="24">24 jugadores</ion-select-option>
            <ion-select-option [value]="32">32 jugadores</ion-select-option>
            <ion-select-option [value]="40">40 jugadores</ion-select-option>
            <ion-select-option [value]="50">50 jugadores</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="button-container">
          <ion-button 
            type="submit" 
            expand="block" 
            class="create-button"
            [disabled]="!roomForm.form.valid || isCreating">
            {{ isCreating ? 'CREANDO...' : 'CREAR SALA' }}
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>