<ion-content [fullscreen]="true">
  
  
  <div class="menu-container">
    <div class="bg-animation">
      <div class="floating-element" *ngFor="let element of floatingElements" 
          [style.left.px]="element.x" 
          [style.top.px]="element.y"
          [style.animation-delay.s]="element.delay">
      </div>
    </div>

    <div class="content">
      <h1 class="title">ALCOHOLIMPIADAS</h1>
      
      <div class="button-container">
        <button 
          class="option-button create-room"
          (click)="onCreateRoom()">
          CREAR SALA
        </button>
        
        <button 
          class="option-button join-room"
          (click)="onJoinRoom()">
          UNIR SALA
        </button>
      </div>
    </div>
  </div>
</ion-content>